/* frontend/src/index.css */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8fafc;
}

.navbar {
    background-color: #1e293b;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
    font-size: 1.5rem;
}

.page-container {
    padding: 2.5rem;
    font-size: 1.25rem;
}

.text-blue {
    color: #2563eb;
    font-weight: bold;
}